# Environments & Dependencies
node_modules/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dedicated Local Database storage
database/local_data/
